<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <title>English Memo App</title>
    </head>
    <body>
        <header>
            <section>
                <div>
                    <h1>English Memo App</h1>
                </div>
            </section>
        </header>
        <main>
            {% block contents %}
            <!-- ここにcontentsが表示される -->
            {% endblock %}
        </main>
    </body>

</html>